{
    "input": "PATH_TO_YOUR_LOCAL_MAPBOX_OBJC_REPO/Sources/MapboxMaps/Style/Generated/Sources",
    "output": "PATH_TO_YOUR_LOCAL_MAPBOX_OBJC_REPO//MapboxMapObjC/Style/Generated/Sources",
    "ignored": [
        "RasterArraySource",
        "SourceProperties"
    ]
}