<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoidHV5ZW52ZCIsImEiOiJjbGxzOW02djYxMWI2M2dwczFwZjVlZnQ4In0.0Ok83GyRQIWDHTwq9RBx8Q</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The app needs your locations for pulsing</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>The app needs your locations for pulsing</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
